@model WebContacts.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}

<section data-role="page" id="index" data-theme="c">
    <header data-role="header" data-position="fixed">
        <h2>Details</h2>
        @Html.ActionLink("Back to List", "Index")
    </header>
<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateAdded)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateAdded)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
</p>
</section>